
<mat-toolbar color="primary" class="toolbar">
    <span>Kanban ODS</span>
    <span class="toolbar__spacer"></span>
    <nav class="toolbar__menu">
      <ul>
        <li>
          <button mat-icon-button class="toolbar__menu__icon favorite-icon" aria-label="Inicio">
            <mat-icon>home</mat-icon>
          </button>
          <a href="#" routerLink="/home" routerLinkActive="active" class="toolbar__menu__text">
            <span >Inicio</span>
          </a>
        </li>
        <li>
          <button mat-icon-button class="toolbar__menu__icon" aria-label="Tablero">
            <mat-icon>note</mat-icon>
          </button>
          <a href="#" routerLink="/tablero" routerLinkActive="active" class="toolbar__menu__text"><span>
            Tablero</span>
          </a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>